<div class="icon-clock">&#128340;</div>

<div class="time-remaining">{{timeRemaining}}</div>

<h1>{{name}}</h1>

<div class="creator-name">{{event.creatorName}}</div>

<div class="polar-clock-container">
  <img src="{{event.creatorImage}}" class="creator-image">
  <div class="polar-clock" id="canvas{{name}}"></div>
  <div class="room-status-text">ocupado</div>
</div>

